@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.font{
    font-family: 'Quicksand', sans-serif;
    font-style: bold;
}

.sebaris{
    display: inline-block;
}

.submit-button {
    margin-top: 40px;
  }
  .delete-button {
    // margin-top: 20p
  }
 
  ion-toolbar{
    // --ion-background-color: palevioletred;
    --background:url(../../assets//icon/toolbar.png);
}