<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="font">RECORD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let item of user">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <!-- <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        </ion-button> -->
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Email</strong></ion-label>
          <ion-input>{{userEmail}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Role</strong></ion-label>
          <ion-input>{{item.role}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Gender</strong></ion-label>
          <ion-input>{{item.gender}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Age</strong></ion-label>
          <ion-input>{{item.age}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Weight</strong></ion-label>
          <ion-input>{{item.weight}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label><strong>Height</strong></ion-label>
            <ion-input>{{item.height}}</ion-input>
        </ion-item>
    </ion-card-content>
  </span>
  <ng-template #elseBlock>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>
              Edit
            </ion-col>
            <ion-col>
              <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                Cancel
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                Update
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-label><strong>Email</strong></ion-label>
            <ion-input>{{userEmail}}</ion-input>
        </ion-item>

        <ion-item>
          <ion-label><strong>Role</strong></ion-label>
          <ion-select value="user" disabled>
            <ion-select-option value="admin">Admin</ion-select-option>
            <ion-select-option value="user">User</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label><strong>Gender</strong></ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="item.EditGender">
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Male">Male</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label><strong>Age</strong></ion-label>
          <ion-input type="number" [(ngModel)]="item.EditAge"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><strong>Weight</strong></ion-label>
          <ion-input type="number" [(ngModel)]="item.EditWeight"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><strong>Height</strong></ion-label>
          <ion-input type="number" [(ngModel)]="item.EditHeight"></ion-input>
        </ion-item>
      </ion-card-content>
      </ng-template>
      <div padding>
          <ion-button (click)="calculateBMI()">Calculate BMI</ion-button>
        </div>
      <ion-card *ngIf="calculateBMI">
          <ion-card-header>
            BMI Calculation
          </ion-card-header>
          <ion-card-content>
            <p>Person: Weight {{item.weight}} kg, Height {{item.height}} cm</p>
            <p>BMI: {{bmiValue}}</p>
            <p><strong>You are {{bmiMessage}}</strong></p>
          </ion-card-content>
        </ion-card>
  </ion-card>
</ion-content>