<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title class="font">RECORD</ion-title>
  </ion-toolbar>
</ion-header>


        
              <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
               Update
              </ion-button>

          <ion-content>
              <ion-item>
                  <ion-label><strong>Email</strong></ion-label>
                  <ion-input>{{userEmail}}</ion-input>
                </ion-item>
      
                <ion-item>
                  <ion-label><strong>Gender</strong></ion-label>
                  <ion-select placeholder="Select One" [(ngModel)]="data.gender">
                      <ion-select-option value="Female">Female</ion-select-option>
                      <ion-select-option value="Male">Male</ion-select-option>
                    </ion-select>
                </ion-item>
                  
                <!-- <ion-item>
                  <ion-label><strong>Date of Birth</strong></ion-label>
                  <ion-input type="text" [(ngModel)]="item.EditDOB"></ion-input>
                </ion-item> -->

                <ion-item>
                  <ion-label><strong>Age</strong></ion-label>
                  <ion-input type="number" [(ngModel)]="data.age"></ion-input>
                </ion-item>
          
                <ion-item>
                  <ion-label><strong>Weight</strong></ion-label>
                  <ion-input type="number" [(ngModel)]="data.weight"></ion-input>
                </ion-item>
          
                <ion-item>
                  <ion-label><strong>Height</strong></ion-label>
                  <ion-input type="number" [(ngModel)]="idata.height"></ion-input>
                </ion-item>
          </ion-content>
    
     


  <!-- <ion-card *ngFor="let item of users">
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>
              Edit
            </ion-col>
            <ion-col>
              <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                Cancel
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                Update
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label><strong>Email</strong></ion-label>
        <ion-input> {{item.email}} </ion-input>
      </ion-item>


      <ion-item>
        <ion-label><strong>Gender</strong></ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="item.EditGender">
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Male">Male</ion-select-option>
          </ion-select>
      </ion-item>
        
      <ion-item>
        <ion-label><strong>Date of Birth</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.EditDOB"> {{item.dob}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label><strong>Weight</strong></ion-label>
        <ion-input type="number" [(ngModel)]="item.EditWeight">  </ion-input>
      </ion-item>

      <ion-item>
        <ion-label><strong>Height</strong></ion-label>
        <ion-input type="number" [(ngModel)]="item.EditHeight">  </ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card> -->
