<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="end" (click)=" next()">
      <ion-icon size="small" name="close"></ion-icon>
    </ion-button>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
    </ion-buttons> -->

    <ion-title class="font">RECORD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let item of user">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <!-- <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        </ion-button> -->
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Email</strong>{{userEmail}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Role</strong>{{item.role}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Gender</strong>{{item.gender}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Age</strong>{{item.age}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Weight</strong>{{item.weight}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label><strong>Height</strong>{{item.height}}</ion-label>
        </ion-item>
        <ion-item >
            <ion-label><strong>Calories</strong>{{totalCalories}}</ion-label>
        </ion-item>
        <ion-card>
            <ion-list *ngFor="let cal of level">
              <ion-card-subtitle><strong>Recipe Name:</strong>{{cal.recipeName}}</ion-card-subtitle>
              <ion-card-subtitle><strong>Calories:</strong>{{cal.calories}}</ion-card-subtitle>
                <ion-button color="danger" (click)=" RemoveCalories(cal.id)">
                    <ion-icon size="small" name="trash"></ion-icon>
                  </ion-button>
            </ion-list>
        </ion-card>
        
        <div padding>
            <ion-button (click)="calculateBMI()">Calculate BMI</ion-button>
             <p style="color:red">User need to click on the 'CALCULATE BMI' once they update their weight and height to get new BMI calculation.</p> 
          </div>
          <div padding>
            <ion-button>Google Fit</ion-button>
          </div>
    </ion-card-content>
  </span>
  <ng-template #elseBlock>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>
              Edit
            </ion-col>
            <ion-col>
              <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                Cancel
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                Update
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-label><strong>Email</strong></ion-label>
            <ion-input>{{userEmail}}</ion-input>
        </ion-item>

        <ion-item>
          <ion-label><strong>Role</strong></ion-label>
          <ion-select value="user" disabled>
            <ion-select-option value="admin">Admin</ion-select-option>
            <ion-select-option value="user">User</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label><strong>Gender</strong></ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="item.EditGender">
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Male">Male</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label><strong>Age</strong></ion-label>
          <ion-input type="number" [(ngModel)]="item.EditAge"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><strong>Weight</strong></ion-label>
          <ion-input type="number" [(ngModel)]="item.EditWeight"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><strong>Height</strong></ion-label>
          <ion-input type="number" [(ngModel)]="item.EditHeight"></ion-input>
        </ion-item>
      </ion-card-content>
      </ng-template>
      <ion-card *ngIf="bmiValue">
          <ion-card-header>
            BMI Calculation
          </ion-card-header>
          <ion-card-content>
            <p>Person: Weight {{item.weight}} kg, Height {{item.height}} cm</p>
            <p>BMI: {{bmiValue}} </p>
            <p><strong>You are {{bmiMessage}}</strong></p>
          </ion-card-content>
        </ion-card>
  </ion-card>
</ion-content>