<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="font" text-align="center">RECIPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar animated></ion-searchbar>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="warning">
          <ion-fab-button color="warning" routerLink="/recipe">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

      
        <!-- <ion-list>
            <ion-item button [routerLink]="['/recipe', recipe.id]" *ngFor="let recipe of (recipes | async)">
              {{ recipe.name }}
            </ion-item>
          </ion-list> -->

          <!-- //routerLink="/recipe/{{recipe.id}}" -->
 <ion-card class="font" *ngFor="let recipe of (recipes | async)" >
   <ion-card-header>
   <ion-card-title>{{recipe.name}}</ion-card-title>
   <ion-card-subtitle>{{recipe.category}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-button color="warning" [routerLink]="['/recipe', recipe.id]" class="font">edit</ion-button>
    <ion-button color="warning" [routerLink]="['/ingredients']" class="font">view recipe</ion-button>
  </ion-card-content>
 </ion-card> 
</ion-content>


 <!-- <ion-grid fixed>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input placeholder="Enter Name" [(ngModel)]="foodName"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input placeholder="Enter Category" [(ngModel)]="category"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <ion-button (click)="CreateRecord()">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Create Record
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-card *ngFor="let item of recipes">
  <span *ngIf="!item.isEdit; else elseBlock">
    <ion-card-header>
      <ion-card-title>{{item.Name}}</ion-card-title>
      <ion-card-subtitle>From: {{item.Category}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

      </ion-button>
      <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

      </ion-button>
    </ion-card-content>
  </span>
  <ng-template #elseBlock>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>
              Edit
            </ion-col>
            <ion-col>
              <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                Cancel
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                Update
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Name</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><strong>Category</strong></ion-label>
        <ion-input type="text" [(ngModel)]="item.EditCategory"></ion-input>
      </ion-item>
    </ion-card-content>
  </ng-template>
</ion-card> -->
        <!-- <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>{{recipe.category}}</ion-card-subtitle>
        </ion-card-header> -->
        <!-- <ion-card-content>
        <ion-button color="warning" [routerLink]="['/viewrecipepage']" >view recipe</ion-button>
        </ion-card-content> -->
 <!-- </ion-card> -->


      <!-- <ion-card>
          <ion-card-header>
          <ion-card-subtitle>Food name</ion-card-subtitle>
          <ion-card-title>Category</ion-card-title>
          </ion-card-header>
          <ion-card-content><ion-button color="warning" >view recipe</ion-button>
          </ion-card-content>
        </ion-card>
      
        <ion-card>
            <ion-card-header>
            <ion-card-subtitle>Food name</ion-card-subtitle>
            <ion-card-title>Category</ion-card-title>
            </ion-card-header>
            <ion-card-content><ion-button color="warning" slot="end">view recipe</ion-button>
            </ion-card-content>
          </ion-card>  -->



