<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="font">healthyplan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" class="font" color="light" [routerLink]="['/dayone']">DAY 1</ion-button>
  <ion-button expand="block" class="font" color="light" [routerLink]="['/daytwo']">DAY 2</ion-button>
  <ion-button expand="block" class="font" color="light" [routerLink]="['/daythree']">DAY 3</ion-button>
  <ion-button expand="block" class="font" color="light" [routerLink]="['/dayfour']">DAY 4</ion-button>
  <ion-button expand="block" class="font" color="light" [routerLink]="['/dayfive']">DAY 5</ion-button>
  <ion-button expand="block" class="font" color="light" [routerLink]="['/daysix']">DAY 6</ion-button>
  <ion-button expand="block" class="font" color="light" [routerLink]="['/dayseven']">DAY 7</ion-button> 
</ion-content>
