<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/recipe"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="ingredient" [(ngModel)]="ingredientName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="price" [(ngModel)]="ingredientPrice"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
          <ion-button color="warning" (click)="createIngredient()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>

  <ion-card *ngFor="let item of ingredients" class="font">
    <span *ngIf="!item.isEdit; else elseBlock">
    <ion-card-header>
      <ion-card-title>
    {{item.Name}}
  </ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-button slot ="end" color="warning" (click)="EditRecord(item)">
          <ion-icon  name="create" ></ion-icon>
      </ion-button>

    <ion-button slot="end" color="warning" (click)="RemoveRecord(item.id)">
        <ion-icon  name="trash" ></ion-icon> 
    </ion-button>
  </ion-card-content>
</span>
<ng-template #elseBlock>
    <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Price</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditPrice"></ion-input>
        </ion-item>
        </ion-card-content>
</ng-template>
</ion-card>
</ion-content>

<ion-footer>
<ion-toolbar color="warning">
<ion-button expand="full" fill="clear" color="light" (click)="addtorecipe()" class="font">DONE</ion-button>
</ion-toolbar>
</ion-footer>
<!-- <ion-list>
  <ion-item *ngFor="let ingredient of ingredients | async"></ion-item>
</ion-list> -->



