<ion-header>
    <ion-toolbar>
        <ion-title class="font">GROCERY LIST</ion-title>
        
    </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
    <ion-item class="font" *ngFor="let item of items">
      {{ item.ingredients }}
      <ion-button slot="end">
        <ion-icon  name="trash"></ion-icon> 
      </ion-button>
    </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-input [(ngModel)]="message" placeholder="enter message"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input [(ngModel)]="file" placeholder="enter file"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input [(ngModel)]="link" placeholder="enter link"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input [(ngModel)]="subject" placeholder="enter subject"></ion-input>
  </ion-item>
</ion-list>
<ion-button (click)="share()">
  <ion-icon name="share"></ion-icon>
</ion-button>
</ion-content>
