<ion-header>
    <ion-toolbar>
        <ion-title class="font">GROCERY LIST</ion-title>
        <!-- <ion-button slot="end" fill="clear" (click)="shareWhatsapp()">
            <ion-icon name="share"></ion-icon>
        </ion-button> -->
      <ion-button slot="end" fill="clear" [routerLink]="['/addgrocerylist']">
          <ion-icon name="add"></ion-icon>   
      </ion-button>
    </ion-toolbar>
</ion-header>
<!-- <ion-content *ngIf="selectedItems.length">
<ion-list>
    <ion-item class="font" *ngFor="let item of selectedItems">
      {{ item.count }}x {{item.name}} - {{item.price}}
      <ion-button slot="end">
        <ion-icon  name="trash"></ion-icon> 
      </ion-button>
    </ion-item>
</ion-list>
</ion-content> -->

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of grocery" class="font">

{{item.name}} - ${{item.price}}
 <ion-button fill="clear" slot="end" (click)="RemoveGroceryList(item.id)">
    <ion-icon name="trash"></ion-icon> 
  </ion-button>
</ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-row>
  <ion-col width-50>
    <div class="ion-text-end">
 <ion-label class="font">total: {{totalPrice}}</ion-label>
</div>
</ion-col>
</ion-row>
</ion-footer>


<!-- <ion-content padding *ngIf="">
    <div text-center class="font">
      No grocery list 
    </div>
  </ion-content> -->
