@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.font{
    font-family: 'Quicksand', sans-serif;
    font-style: bold;
}

ion-title{
    text-align: center;
}

ion-toolbar{
    // --ion-background-color: palevioletred;
    --background:url(../../assets//icon/toolbar.png);
}