<ion-header>
  <ion-toolbar>
      <ion-title class="font">SETTING</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-button class="font" color="light" [routerLink]="['/notification']">notification</ion-button>
<ion-button class="font" color="light" [routerLink]="['/display']">display</ion-button> -->

<ion-list >
    <ion-item>
      <ion-label class="font">Notification</ion-label>
      <ion-toggle slot="end" color="warning"></ion-toggle>
    </ion-item>
    <ion-item class="font" >Display</ion-item>
    <ion-item >
        <ion-label class="font">Theme</ion-label>
        <ion-select value="light" okText="Yes" cancelText="Cancel" class="font">
          <ion-select-option value="light" class="font"
          (click)="enableLight()">Light</ion-select-option>
          <ion-select-option value="dark" class="font" (click)="enableDark()">Dark</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item >
          <ion-label class="font">Video</ion-label>
          <ion-select value="brown" okText="Yes" cancelText="Cancel" class="font">
            <ion-select-option value="brown" class="font">YouTube</ion-select-option>
            <ion-select-option value="blonde" class="font">Vimeo</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="enableDark()">Dark Mode</ion-button>
        <ion-button (click)="enableLight()">Light Mode</ion-button>
  </ion-list>
<ion-content>
</ion-content>
