
<ion-content>
  <ion-button [routerLink]="['/places']">recommended places</ion-button>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
  <ion-icon name="flash"></ion-icon>
  <ion-label>Service</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="record">
  <ion-icon name="apps"></ion-icon>
  <ion-label>Record</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="grocerylist">
  <ion-icon name="send"></ion-icon>
  <ion-label>Grocery Lists</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="setting">
      <ion-icon name="send"></ion-icon>
      <ion-label>Setting</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
 </ion-tabs>
