
<ion-content>
  <ion-button [routerLink]="['/places']" class="font">recommended places</ion-button>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
  <ion-icon name="home"></ion-icon>
  <ion-label class="font">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="record">
  <ion-icon name="clipboard"></ion-icon>
  <ion-label class="font">Record</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="grocerylist">
  <ion-icon name="cart"></ion-icon>
  <ion-label class="font">Grocery Lists</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
      <ion-label class="font">Setting</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
 </ion-tabs>
