<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-header>
  <ion-toolbar>
    <ion-title class="font">GENDER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="position: relative">
<p class="font">Select Your Gender</p>

<span>
  <ion-button expand="block" fill="clear" id="box1" class="all" [routerLink]="['/bmi']">
    <img src="../../assets/icon/female.png" alt="" style="max-width: 100%, height=auto, center">
  </ion-button>
</span>
<span>
  <ion-button expand="block" fill="clear" id="box2" class="all"[routerLink]="['/bmi']">
    <img src="../../assets/icon/male.png" alt="" style="max-width: 100%, height=auto, center">
  </ion-button>
</span>
</ion-content>
