<ion-header>
  <ion-toolbar color="warning">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
        </ion-buttons>
    <ion-title class="font">Location Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let item of location">
      <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
          <ion-card-title class="font">{{item.locationName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
   
          <ion-button shape="round" color="secondary" size="small" (click)="EditLocation(item)">
            <ion-icon size="small" class="font" slot="icon-only" name="create"></ion-icon>
            view more
          </ion-button>
        </ion-card-content>
      </span>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                    Cancel
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content> 
            <ion-item>
              <ion-label><strong>Location Name:</strong></ion-label>
              <ion-input>{{item.locationName}}</ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label><strong>Address:</strong></ion-label>
              <ion-input>{{item.address}}</ion-input>
            </ion-item>

        <div>
          <ion-button>
            <ion-icon size="small" slot="icon-only" name="map"></ion-icon>
          </ion-button>
        </div>
        </ion-card-content>
      </ng-template>
    </ion-card>
</ion-content>


