<ion-header>
  <ion-toolbar>
    <ion-title>registerDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-center>
          <img src="../../assets/icon/logo3.png" alt="">
          <h4 class="font">REGISTER DETAILS</h4>
        </div>
        <form [formGroup]="registerForm">
          <div padding>

            <ion-item>
              <ion-label class="font" Strong><strong>Email: {{userEmail}}</strong></ion-label>
            </ion-item>

            <ion-item>
              <ion-label class="font"><strong>Role:</strong> User</ion-label>
              </ion-item>

            <ion-item>
              <ion-label class="font" position="floating">Gender</ion-label>
              <ion-select placeholder="Select One" class="font" [(ngModel)]="gender" formControlName="gender" required>
                <ion-select-option value="Female">Female</ion-select-option>
                <ion-select-option value="Male">Male</ion-select-option>
              </ion-select>	
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.gender">
                <div class="error-messages"
                  *ngIf="registerForm.get('gender').hasError(error.type) && (registerForm.get('gender').dirty || registerForm.get('gender').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label class="font" position="floating">Age</ion-label>
              <ion-input class="font"  type="number" [(ngModel)]="age" formControlName="age" required></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.age">
                <div class="error-messages"
                  *ngIf="registerForm.get('age').hasError(error.type) && (registerForm.get('age').dirty || registerForm.get('age').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>


            <ion-item>
              <ion-label class="font" position="floating">Weight</ion-label>
              <ion-input class="font" type="number" [(ngModel)]="weight" formControlName="weight"  required></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.weight">
                <div class="error-messages"
                  *ngIf="registerForm.get('weight').hasError(error.type) && (registerForm.get('weight').dirty || registerForm.get('weight').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label class="font" position="floating">Target Weight</ion-label>
              <ion-input class="font" type="number" [(ngModel)]="tweight" formControlName="tweight"  required></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.tweight">
                <div class="error-messages"
                  *ngIf="registerForm.get('tweight').hasError(error.type) && (registerForm.get('tweight').dirty || registerForm.get('tweight').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label class="font" position="floating">Height</ion-label>
              <ion-input class="font" type="number" [(ngModel)]="height" formControlName="height"  required></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.height">
                <div class="error-messages"
                  *ngIf="registerForm.get('height').hasError(error.type) && (registerForm.get('height').dirty || registerForm.get('height').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
          </div>

        </form>

        <div padding>
          <ion-button class="font" size="large" expand="block" type="submit" [disabled]="!registerForm.valid"
            (click)="CreateRecord()">Save</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
