<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-title class="font">RECIPE</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding> 
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/create-recipe']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    <ion-card *ngFor="let item of recipe">
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveRecipe(item.id)">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label><strong>Recipe Name:</strong></ion-label>
              <ion-input>{{item.recipeName}}</ion-input>
            </ion-item>
            <ion-item>
              <ion-label><strong>Category:</strong></ion-label>
              <ion-input>{{item.category}}</ion-input>
            </ion-item>
            <ion-item>
              <ion-label><strong>Ingredients:</strong></ion-label>
              <ion-input>{{item.ingredients}}</ion-input>
            </ion-item>
            <ion-item>
              <ion-label><strong>Steps</strong></ion-label>
              <ion-input>{{item.steps}}</ion-input>
            </ion-item>
        </ion-card-content>
      </span>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  Edit
                </ion-col>
                <ion-col>
                  <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                    Cancel
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                    Update
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
              <ion-label><strong>Recipe Name:</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.EditRecipeName"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label><strong>Category:</strong></ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="item.EditCategory">
                  <ion-select-option value="vegetarian">vegetarian</ion-select-option>
                  <ion-select-option value="non-vegetarian">non-vegetarian</ion-select-option>
                </ion-select>
              </ion-item>
    
            <ion-item>
              <ion-label><strong>Ingredients:</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.EditIngredient"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label><strong>Steps:</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.EditSteps"></ion-input>
            </ion-item>
          </ion-card-content>
          </ng-template>
      </ion-card>
</ion-content>
