<ion-header>
  <ion-toolbar>
      <ion-button href="/recipelists">Cancel</ion-button>
    <!-- <ion-title class="font" center>CREATE RECIPE</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 style="text-align: center">CREATE RECIPE</h4>
    <form [formGroup]="recipeForm">
        <div padding>

          <ion-item>
            <ion-label class="font" position="floating">Recipe Name</ion-label>
            <ion-input class="font"  type="text" [(ngModel)]="recipeName" formControlName="recipeName"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label class="font" position="floating">Category</ion-label>
              <ion-select placeholder="Select One" class="font" [(ngModel)]="category" formControlName="category">
                  <ion-select-option value="vegetarian">vegetarian</ion-select-option>
                  <ion-select-option value="non-vegetarian">non-vegetarian</ion-select-option>
              </ion-select>	
          </ion-item>

          <div formArrayName="ingredients">
              <section [formGroupName]="i" *ngFor="let ingre of recipeForm.controls.ingredients.controls; let i = index">
                  <ion-item-group>
                  <ion-item>
                      <ion-label class="font">Ingredients</ion-label>
                     <ion-input type="text" [(ngModel)]="ingredient" formControlName="ingredients"></ion-input>
                  </ion-item>
                  <span *ngIf="recipeForm.controls.ingredients.length > 1">
                      <ion-button shape="round" color="danger" size="small"  (click)="removeInputField(i)">
               <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
             </ion-button>
           </span>
                </ion-item-group>
            </section>
                </div>
                <div>
                    <ion-button shape="round" color="primary" size="small"  (click)="addNewInputField()">
                        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                     
                </div>
             <ion-item>
                <ion-label class="font" position="floating">Steps</ion-label>
                <ion-input class="font" type="text" [(ngModel)]="steps" formControlName="steps"></ion-input>
              </ion-item>
        </div>
      </form>

      <div padding>
        <ion-button class="font" size="large" expand="block" type="submit" (click)=" CreateRecipe()">Create</ion-button>
      </div>

</ion-content>