<ion-header>
  <ion-toolbar>
    <ion-title class="font">SIGNUP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-center>
          <img src="../../assets/icon/logo3.png" alt="">
          <h4 class="font">CREATE ACCOUNT</h4>
        </div>

        <form [formGroup]="signupForm">
          <div padding>

            <ion-item>
              <ion-label class="font" position="floating">Email</ion-label>
              <ion-input class="font" type="email" [(ngModel)]="email" formControlName="email" required></ion-input>
            </ion-item>

            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.email">
                <div class="error-messages"
                  *ngIf="signupForm.get('email').hasError(error.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>


            <ion-item>
              <ion-label class="font" position="floating">Password</ion-label>
              <ion-input class="font" [type]="getType()" [(ngModel)]="password" formControlName="password" required>
              </ion-input>
              <ion-icon name="eye" (click)="toggleTextPassword()" slot="end"></ion-icon>
            </ion-item>

            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.password">
                <div class="error-messages"
                  *ngIf="signupForm.get('password').hasError(error.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label class="font" position="floating">Confirm Password</ion-label>
              <ion-input class="font" [type]="getType()" [(ngModel)]="cpassword" formControlName="cpassword" required>
              </ion-input>
              <ion-icon name="eye" (click)="toggleTextPassword()" slot="end"></ion-icon>
            </ion-item>

            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.cpassword">
                <div class="error-messages"
                  *ngIf="signupForm.get('cpassword').hasError(error.type) && (signupForm.get('cpassword').dirty || signupForm.get('cpassword').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
          </div>
        </form>

        <div padding>
          <ion-button class="font" size="large" expand="block" type="submit" [disabled]="!signupForm.valid"
            (click)="signup()">Create</ion-button>
        </div>

        <div text-center>
          <p class="font">Already has an account? <a (click)="goLoginPage()">SIGN IN</a></p>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>