<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/recipes"></ion-back-button>
          </ion-buttons>
        <!-- <ion-icon name="arrow-round-back" slot="start" [routerLink]="['/recipes']"></ion-icon>
        <ion-title>viewrecipe</ion-title> -->
      </ion-toolbar>
    </ion-header>
    
    <ion-content padding>
        <ion-item >
            <ion-input required type="text" placeholder="Name" [(ngModel)]="recipe.name" ></ion-input>
          </ion-item>
          
          <ion-item >
            <ion-input required type="text" placeholder="category" [(ngModel)]="recipe.category"></ion-input>
          </ion-item>

          
          <!-- <ion-item>
            <ion-textarea placeholder="ingredients" [(ngModel)]="recipe.ingredient" rows="7"></ion-textarea>
          </ion-item>  -->

            <ion-item>
                <ion-textarea placeholder="steps" [(ngModel)]="recipe.steps" rows="7"></ion-textarea>
              </ion-item>
            </ion-content>
          
    <ion-footer *ngIf ="!recipe.id">
          <ion-toolbar color="warning">
            <ion-button expand="full" fill="clear" color="light" (click)="addRecipe()" [disabled]="!recipe.name || !recipe.category || !recipe.steps">
              Add
            </ion-button>
          </ion-toolbar>
        </ion-footer>

       <ion-footer *ngIf ="recipe.id">
            <ion-row no-padding text-center>
                <ion-col size="6">
                  <ion-button expand="block" fill="outline" color="danger" (click)="deleteRecipe()">
                    <ion-icon name="trash" slot="start"></ion-icon>
                    Delete
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" fill="solid" color="warning" (click)="updateRecipe()">
                    <ion-icon name="save" slot="start"></ion-icon>
                    Update
                  </ion-button>
                </ion-col>
              </ion-row>
          </ion-footer> 
      