<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" slot="start" [routerLink]="['/healthyplan']"></ion-icon>
    <ion-title>daytwo</ion-title>
    <ion-icon name="home" slot="end" [routerLink]="['/tabs']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-label>Breakfast</ion-label>
        <ion-button [routerLink]="['/daytwobreakfast']">view recipe</ion-button>
      </ion-card>
      
      <ion-card>
        <ion-label>Lunch</ion-label>
        <ion-button [routerLink]="['/daytwolunch']">view recipe</ion-button>
        </ion-card>
      
        <ion-card>
          <ion-label>Dinner</ion-label>
          <ion-button [routerLink]="['/daytwodinner']">view recipe</ion-button>
          </ion-card>
</ion-content>
