<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" slot="start" [routerLink]="['/dayone']"></ion-icon>
    <ion-title>dayonedinner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Ingredients</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Input</ion-label>
          <ion-button slot="end">Add to cart</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Toggle</ion-label>
          <ion-button slot="end">Add to cart</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Radio</ion-label>
          <ion-button slot="end">Add to cart</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Checkbox</ion-label>
          <ion-button slot="end">Add to cart</ion-button>
        </ion-item>
      </ion-list>
</ion-content>
