@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.font{
    font-family: 'Quicksand', sans-serif;
    font-style: bold;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }

  ion-slide {
    height: calc(100vh - 140px);
  }

