<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs"></ion-back-button>
      </ion-buttons>
      <ion-title>RECIPE</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
    <ion-list lines="full">
      <ion-item>
        <ion-input required type="text" placeholder="recipe name" [(ngModel)]="todo.task"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="font" position="stacked"></ion-label>
        <ion-select placeholder="Select Category" class="font" [(ngModel)]="todo.priority">
            <ion-select-option value="vegetarian">vegetarian</ion-select-option>
            <ion-select-option value="non-vegetarian">non-vegetarian</ion-select-option>
        </ion-select>	
      </ion-item>
     
      <ion-item>
        <ion-input required type="string" placeholder="ingredients" [(ngModel)]="todo.ingredients"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input required type="string" placeholder="steps" [(ngModel)]="todo.steps"></ion-input>
      </ion-item>

    </ion-list>
  </ion-content>
  
    <ion-footer>
      <ion-button expand="full" (click)="saveTodo()">Save</ion-button>
    </ion-footer>
    
  