<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
    <!-- <span>
    <ion-card>
      <img src="../../assets/icon/mealplan_button.png" alt="mealplan" style="width:100%" class="container" >
      <button class="btn" [routerLink]="['/healthyplan']">Healthy Plan</button>
    </ion-card>
    </span> -->
  <span>
    <ion-card>
        <img src="../../assets/icon/recipe_button.png" alt="recipe" style="width:100%" class="container">
        <button class="btn" [routerLink]="['/recipes']">Recipe</button>
      </ion-card>
    </span>
    <span>
      <ion-card>
          <img src="../../assets/icon/location_button.png" alt="location" style="width:100%" class="container">
          <button class="btn" [routerLink]="['/places']">Location</button>
        </ion-card>
      </span>
</ion-content>
