<ion-header>
  <ion-toolbar>
    <ion-button color="warning" slot="end" shape="round" (click)="logout()">LOGOUT
      <ion-icon slot="end" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content> 
    <!-- <span>
    <ion-card>
      <img src="../../assets/icon/mealplan_button.png" alt="mealplan" style="width:100%" class="container" >
      <button class="btn" [routerLink]="['/healthyplan']">Healthy Plan</button>
    </ion-card>
    </span> -->

  <span>
    <ion-card>
        <img src="../../assets/icon/recipe_button.png" alt="recipe" style="width:100%" class="container">
        <button class="btn" [routerLink]="['/idea-list']">Recipe</button>
      </ion-card>
    </span>
    <span>
      <ion-card>
          <img src="../../assets/icon/location_button.png" alt="location" style="width:100%" class="container">
          <button class="btn" [routerLink]="['/places']">Location</button>
        </ion-card>
      </span>
      <span>
          <ion-card>
              <img src="../../assets/icon/location_button.png" alt="location" style="width:100%" class="container">
              <button class="btn" [routerLink]="['/adminpage']">ADMIN</button>
            </ion-card>
          </span>

          <!-- <ion-item *ngFor="let item of todos">
            <ion-label>
              {{ item.task }}
            </ion-label>
            <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
          </ion-item> -->
</ion-content>
